<form class="container geometry-editor">
  <div class="row">
    <mat-form-field class="col-12 mt-3 md-3 px-3">
      <mat-select placeholder="Pick the geometry type" name="layerType" [(ngModel)]="geometryPick" (selectionChange)="onGeomTypeChanged($event)">
        <mat-option *ngFor="let geom of geometryTypes" [value]="geom">
          {{geom}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12 md-3 px-3">
      <input matInput placeholder="Layer Name" name="layerName" type="text" (keyup)="updateLayerName($event)" [errorStateMatcher]="matcher" [formControl]="layerNameFormControl">
      <mat-error *ngIf="layerNameFormControl.hasError('required')"></mat-error>
    </mat-form-field>
  </div>
  <div class="row" *ngIf="layerNameExists">
    <label class="geometry-info-label col-12 md-4" style="color: red;">
      <b>Layer name already exists.</b>
    </label>
  </div>
  <div class="row" *ngIf="entities.length === 0 && !layerSavedToViewer">
    <label class="geometry-info-label col-12 md-4">
      Add the picked geometry to the map, info will be shown here
    </label>
  </div>
  <div class="row" *ngIf="entities.length === 0 && layerSavedToViewer">
    <label class="geometry-info-label col-12 md-4">
      Layer Saved!
    </label>
  </div>
  <mat-list *ngIf="entities.length > 0">
    <mat-list-item *ngFor="let entity of entities; let i = index">
      <label class="row geometry-info-label h-100"><b>#{{i+1}}</b></label>
      <ul>
        <li class="row geometry-info-label">
            <label><b>WGS84</b>: [{{entity.wgs.x.toFixed(5)}}, {{entity.wgs.y.toFixed(5)}}, {{entity.wgs.z.toFixed(2)}}]</label>
        </li>
        <li class="row geometry-info-label">
            <label><b>ITM</b>: [{{entity.itm.E.toFixed(2)}}, {{entity.itm.N.toFixed(2)}}, {{entity.cart.z.toFixed(2)}}]</label>
        </li>
      </ul>
    </mat-list-item>
  </mat-list>
  <div class="row-fluid">
    <button mat-flat-button color="accent" class="col-5 geometry-btn"
    [disabled]="entities.length == 0" (click)="onLayerSave()">Save Layer</button>
    <button mat-flat-button color="accent" class="col-5 pull-right geometry-btn"
    (click)="onLayerReset()">Reset</button>
  </div>
  <br/>
</form>
