.toolbar-btn {
  width: 38px;
	height: 38px;
  border-width: 1px 1px 1px 1px;
  background-color: rgb(71, 66, 66);
  color: white;
	border-color: white;
  float: left;
  z-index: -1;
}
.toolbar-left {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;

}
.toolbar-buttons {
  margin-bottom: 40px;
}
.mouse-coords {
  float: left;
  margin-left: 5px;
}

.collapsed-multi-margin {
  margin-bottom: 10px;
}

.screenshot-modal-lg .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.screenshot-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}
