.toolbar-btn {
  width: 38px;
	height: 38px;
	border-width: 1px 1px 1px 0px;
	border-color: black;
  float: left;
  z-index: -1;
}
.toolbar-left {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;

}
.toolbar-buttons {
  margin-bottom: 40px;
}
.mouse-coords {
  float: left;
  margin-left: 5px;
}

.collapsed-multi-margin {
  margin-bottom: 10px;
}
