<map-layer #mapLayer>
  <ng-container *ngFor="let layerSource of layerSources; let i = index">
    <ng-container [ngSwitch]="layerSource.layerType">
      <tile-layer
        *ngSwitchCase="LayerType.TILE"
        #layerComp
        [tileSource]="layerSource"
        [tileIndex]="i">
      </tile-layer>
      <kml-layer
        *ngSwitchCase="LayerType.KML"
        #layerComp
        [kmlSource]="layerSource"
        [kmlIndex]="i">
      </kml-layer>
      <shp-layer
        *ngSwitchCase="LayerType.SHP"
        #layerComp
        [shpSource]="layerSource"
        [shpIndex]="i">
      </shp-layer>
    </ng-container>
  </ng-container>
</map-layer>
<div class="toolbar-left">
  <div class="toolbar-buttons">
      <button id="layers-list-btn" class="fa fa-list-ul toolbar-btn"
        [attr.aria-expanded]="!showLayersList" aria-controls="layersListCollapse"
        (click)="showLayersList = !showLayersList">
      </button>
      <button id="geometry-editor-btn" class="fa fa-edit toolbar-btn"
        [attr.aria-expanded]="!showGeometryEditor" aria-controls="geometryEditorCollapse"
        (click)="showGeometryEditor = !showGeometryEditor">
      </button>
      <button id="screen-shot-btn" class="fa fa-camera toolbar-btn" (click)="takeScreenshot()">
      </button>
      <mouse-coords class="mouse-coords"></mouse-coords>
  </div>
  <div id="layersListCollapse" [ngbCollapse]="!showLayersList"  class="collapsed-multi-margin">
      <layers-list [staticLayers]="staticLayers"
                   [editableLayers]="editableLayers"></layers-list>
  </div>
  <div id="geometryEditorCollapse" [ngbCollapse]="!showGeometryEditor" class="collapsed-multi-margin">
      <geometry-editor  (geometryTypeChanged)="onGeometryTypeChanged($event)"
                        (entityAdded)="onEntityAdded($event)"
                        (layerSaved)="onLayerSaved($event)"
                        (layerReset)="onLayerReset()"
                        [isLayerNameValid]="checkLayerName.bind(this)">
      </geometry-editor>
  </div>
  <div class="modal fade screenshot-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
  </div>
</div>
