<div class="container-fluid">
  <div class="layer-list row">
    <label class="layer-label ml-2">Static Layers</label>
    <mat-list class="container-fluid">
      <mat-list-item *ngFor="let layer of staticLayers" class="row">
        <label class="layer-label col-8">{{layer.getLayerMeta().layerName}}</label>
        <mat-slide-toggle class="col-2" style="" [checked]='layer.isLayerVisible()' (change)='updateLayerVisbility(layer)'></mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="layer-list row" *ngIf="editableLayers.length > 0">
    <label class="layer-label ml-2">User Layers</label>
    <mat-list class="container-fluid">
      <mat-list-item *ngFor="let layer of editableLayers" class="row">
        <label class="layer-label col-8">{{layer.getLayerMeta().layerName}}</label>
        <mat-slide-toggle class="col-2" style="" [checked]='layer.isLayerVisible()' (change)='updateLayerVisbility(layer)'></mat-slide-toggle>
        <a class="fa fa-2x fa-remove remove-layer-btn" href="javascript:;" (click)="onRemoveLayer(layer)"></a>
      </mat-list-item>
    </mat-list>
  </div>
</div>
