.layer-list {
  background: rgba(100, 100, 100, 0.75)
}
.layer-label {
  font: 14px arial, sans-serif;
  color: white;
}

.layer-list-btn {
  text-decoration: none;
  background-color: none;
  color: rgb(233, 30, 99);
}
